
.shop-card-pagination .ant-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

.shop-card-pagination .ant-pagination .ant-pagination-item {
    border: 1px solid #2F8EFF;
    width: 40px;
    height: 40px;
    font-size: 16px;
    line-height: 38px;
    text-align: center;
    border-radius: 0;
    margin-right: 0;
    border-right: 0;
}

.shop-card-pagination .ant-pagination .ant-pagination-item a {
    color: #2F8EFF;
}

.shop-card-pagination .ant-pagination .ant-pagination-item-active {
    background-color: #2F8EFF;
    border-color: #2F8EFF;
}

.shop-card-pagination .ant-pagination .ant-pagination-item-active a {
    color: #fff;
}

.shop-card-pagination .ant-pagination .ant-pagination-prev,
.ant-pagination .ant-pagination-next {
    border: 1px solid #2F8EFF;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0;
    margin-right: 0;
}

.shop-card-pagination .ant-pagination .ant-pagination-prev,
.ant-pagination .ant-pagination-next:first-child {
    border-right: 0;
}


.shop-card-pagination .ant-pagination .ant-pagination-prev .ant-pagination-item-link,
.ant-pagination .ant-pagination-next .ant-pagination-item-link {
    color: #2F8EFF;
}

.dropdown-button .ant-btn {
    border: 1px solid #2B2D2F;
    border-radius: 2px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    height: 32px;
    width: 286px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
}

:where(.css-dev-only-do-not-override-1odpy5d).ant-rate .ant-rate-star {
    color: #F5A623;
}

.cart-wrap .table tr,
th {
    border: 2px solid black;
}

.activeFilter .activeFilterSlider .ant-slider-track {
    background-color: black;
    height: 1px;
}

.activeFilter .activeFilterSlider .ant-slider-rail {
    height: 1px;
}

.activeFilter .activeFilterSlider .ant-slider-step {
    height: 1px;
}

.activeFilter .activeFilterSlider :where(.css-dev-only-do-not-override-1odpy5d).ant-slider .ant-slider-handle::after {
    box-shadow: 0 0 0 2.5px black;
    outline: none;
}

.activeFilter .activeFilterSlider .ant-slider-handle::after {
    border: black;
    border: 1px;
    color: black;
}

.details .myAccDets tr,
.details .myAccDets th {
    border: none;
}

:where(.css-dev-only-do-not-override-1odpy5d).ant-table-wrapper .ant-table-thead>tr>th,
:where(.css-dev-only-do-not-override-1odpy5d).ant-table-wrapper .ant-table-thead>tr>td {
    background: #50575E;
    color: white;
}

:where(.css-dev-only-do-not-override-1odpy5d).ant-table-wrapper .ant-table-container table>thead>tr:first-child>*:first-child {
    border-start-start-radius: 0;
}

:where(.css-dev-only-do-not-override-1odpy5d).ant-table-wrapper .ant-table-container table>thead>tr:first-child>*:last-child {
    border-start-end-radius: 0;
}

:where(.css-dev-only-do-not-override-1odpy5d).ant-table-wrapper .ant-table-thead>tr>th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before,
:where(.css-dev-only-do-not-override-1odpy5d).ant-table-wrapper .ant-table-thead>tr>td:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
    background-color: transparent;
}



.ant-table-tbody :where(.css-dev-only-do-not-override-1odpy5d).ant-table-wrapper .ant-table-tbody>tr>th,
:where(.css-dev-only-do-not-override-1odpy5d).ant-table-wrapper .ant-table-tbody>tr>td {
    border-bottom: 1px solid #000000;
}

.ant-table-content {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}


.orderDetails .orderDetailsAddress .addressPTag,
.orderDetails .orderDetailsAddress .editButton {
    display: none;
}

.orderDetails .orderDetailsAddress .address {
    gap: 8px;

}

.orderDetails .orderDetailsAddress .address .addressDetailsPTags {
    padding: 20px;
    border: 1px solid #EEEEEE;
}
.orderDetails .orderDetailsAddress .address .billingAddress div:first-child,
.orderDetails .orderDetailsAddress .address .shippingAddress div:first-child {
    gap: 0;
}

.checkoutBilling .billing .saveAddressBtn {
    display: none;
}

.checkoutConfirmed .orderList .ant-table-thead>tr>th,
.checkoutConfirmed .orderList .ant-table-tbody>tr>td {
    background-color: #fff !important;
    border: none !important;
}

.checkoutConfirmed .checkoutorderDetails .ant-table-thead>tr>th,
.checkoutConfirmed .checkoutorderDetails .ant-table-tbody>tr>td {
    background-color: #fff !important;
    border-bottom: 2px solid #000;
    border-radius: 0% !important;
}

.checkoutConfirmed .checkoutorderDetails .ant-table-thead>tr:last-child>th,
.checkoutConfirmed .checkoutorderDetails .ant-table-tbody>tr:last-child>td {
    border-right: 0 solid #000;
    border-bottom: 0 solid #000;
}

.checkoutConfirmed .checkoutorderDetails .ant-table-thead>tr>th::before {
    display: none;
}

.checkoutConfirmed .checkoutorderDetails .ant-table-thead>tr>th {
    background-color: #50575E !important;
    color: #fff;
    border-width: 2px 2px 2px 0px !important;
    border-style: solid !important;
    border-color: #000 !important;
}

.checkoutorderDetails table {
    border-radius: 0%;
    border-width: 0px 2px medium !important;
    border-color: #000 #000 currentColor !important;
}

.checkoutConfirmed .checkOutAddress .orderDetailsAddress .addressPTag,
.checkoutConfirmed .checkOutAddress .orderDetailsAddress .editButton,
.checkoutConfirmed .checkOutAddress .orderDetailsAddress .address .shippingAddress {
    display: none;
}

